<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron" id="masthead">
			<a href="/"><h2>Networx</h2></a>
		</div>
		<div id="menubar">
			<ul class="nav nav-pills" id="menu">
				<li><a href="/timeline">Home</a></li>
				<li><a href="/myPosts">My Posts</a></li>
				<li><a href="/findPtf">People</a></li>
				<li class="active"><a href="/settings">Settings</a></li>
				<li><a href="/logout">Log Out</a></li>
				
			</ul>
		</div>
		<div id="body">
			<h4>Are you sure you want to delete your account? This action is not reversible!</h4><br>
			<p><a href="/deleteUser">Yes I am sure I want to delete my account</a></p>
			<style>
				p a{
					color:white;
					text-decoration:underline;
				}
			</style>
			<br>
			<button id="cancel">Cancel</button>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script>
				$("#cancel").click(function(){
					window.location.href="/";
				});
			</script>
		</div>
	</div>
</body>
</html>