<html ng-app="App" ng-controller="Ctrl">
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron" id="masthead">
			<a href="/"><h2>Networx</h2></a>
		</div>
		<div id="btnCollapseMenu">Menu</div>
		<br>
		<div id="menubar">
			<ul class="nav nav-pills" id="menu">
				<li><a href="/timeline">Home</a></li>
				<li><a href="/myPosts">My Posts</a></li>
				<li class="active"><a href="/findPtf">People</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><a href="/logout">Log Out</a></li>
				
			</ul>
		</div>
		<div id="followList">
			<h4>Currently following</h4>
			<div ng-repeat="f in follows ">
				<p>{{f}}
				<a ng-href="/unfollowUser/{{f}}" id="unfollowButton">Unfollow User</a></p>
			</div>
		</div>
		<div id="body">
			<div id="searchbar">
				<label>Search for people</label>
				<input type="text" id="searchBar"></input>
				<button id="buttonGo">Go</button>
			</div>
			<br>
			<div ng-repeat = "t in users" id="ptf">
				<a ng-href="/profiles/{{t.username}}">
					{{ t.username }}
				</a>
				<div id="ptfFollowButton">
					<a ng-href="/followUser/{{t.username}}">Follow this user</a>
				</div>
				<br>
			</div>
			{{ eror }}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
		<script src="/scripts/OpenAndClose.js"></script>
		<script>
			var app = angular.module('App',[]);
			app.controller('Ctrl',function($http,$scope){
				$("#buttonGo").click(function(){
					if($("#searchBar").val().length>0){
						$http.post('/search/'+$("#searchBar").val()).success(function(response1){
							if(response1.length>0){
								$scope.users = response1;
								$scope.eror="";
							}else{
								$scope.eror = "Sorry didn't find any user by that name!";
								$scope.users = [];
								console.log("nothing came back");
							}
						
							
							console.log("response1 = "+response1);
						});
					}else{
						$http.get('/findAllUsers').success(function(response){
						$scope.users = response;
						$scope.eror = "";
					});
					}
				});
				$http.get('/findAllUsers').success(function(response){
					$scope.users = response;
				});
			});
		</script>
</body>
</html>